
html {
  scroll-behavior: smooth;
}

body {
  /* background: url(https://i0.wp.com/www.crowneagency.com/wp-content/uploads/2017/01/wood-court-3.jpg?ssl=1) no-repeat center center fixed; */
  background: url(https://wonderfulengineering.com/wp-content/uploads/2016/01/black-wallpaper-6.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: -30%;
  opacity: 0.95;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@media (max-width: 768px){
  .body {
    width: 100%;
  }

  .container {
    padding-right: 0;
    padding-left: 0;
    padding-top: 0;
  }
}

.icon {
opacity: 0.9;
}

#tableBackground {
background-color: white;
  opacity: 0.9;
border-radius: 30px;
padding: 30px;
font-size: 1.9vw;
}

#titleBackground {
background-color: white;
border-radius: 30px;
text-align: center;
font-size: 2.25vw;
margin-bottom: 25px;
opacity: 0.9;
}

.table {
right: 10%;
}

#table {
margin: 30px;
}

tbody, thead {
font-size: 1.5vw;
}

thead {
text-align: center;
}

#error {
color: red;
}

#navContent {
background-color: white;
}

a:hover, a {
text-decoration: none;
color: black;
cursor: pointer;
}

.center {
text-align: center;
}