.navbar li .glyphicon {
    margin-right: 10px;
}

/* Highlighting rules for nav menu items */
.navbar .navbar-nav .active a,
.navbar .navbar-nav .active a:hover,
.navbar .navbar-nav .active a:focus {
    background-image: none;
    background-color: #4189C7;
    color: white;
}

a.nav-item {
    display: inline;
    color: black;
    font-weight: bold;
    text-align: center;
    font-size: 5vw;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.border-bottom {
    border-bottom: 1px solid #dee2e6;
}

.navbar {
    background-color: white;
    opacity: 0.9;
    padding: 0.5rem 1rem;
    padding-top: 0.5rem;
    padding-right: 1rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
}

html {
    font-size: 15px;
}

#nav-thumb {
    width:2em; 
    height:2em;
    margin-right: 5px;
}

#nav-thumb img {
  height: auto;
  width: auto;
  margin:0 auto;
}

@media (min-width: 768px) {
    a.nav-item {
        white-space: normal;
        text-decoration: none;
        text-align: center;
        word-break: break-all;
        color: black;
        font-weight: bold;
        font-size: 1.1vw;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    }

    html {
        font-size: 16px;
    }

    .navbar-nav {
        margin: 0 auto;
        text-align: center;
        display: block;
        float: none;
    }
    
    .navbar-nav > a {
        display: inline-block;
        float: none;
    }

    .navbar-nav > span > a {
        display: inline-block;
        float: none;
    }

    #corner {
        position: absolute;
    }
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.icon {
    width: 40px;
    height: 40px;
    opacity: 0.9;
}

.title {
    float: left;
}