#loading {
    text-align: center;
    padding-top: 5vw;
}

#logo {
    background: white;
    width: 3em;
}

#win {
    width: 3em;
    text-align: center;
}

#thumb img {
    height: auto;
    width: auto;
    margin:0 auto;
}

#date {
    font-size: small;
    font-weight: bold;
}

.flexcontainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.rankingsTable {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: bold;
    border-collapse: collapse;
    width: 40vw;
    background-color: #f2f2f2;
    -webkit-animation: rankingsFade 0.5s; /* Safari 4+ */
    -moz-animation:    rankingsFade 0.5s; /* Fx 5+ */
    -o-animation:      rankingsFade 0.5s; /* Opera 12+ */
    animation:         rankingsFade 0.5s; /* IE 10+, Fx 29+ */
}

.rankingsTable td, .rankingsTable th {
    border: 1px solid #ddd;
    padding: 8px;
}

.rankingsTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: royalblue;
    color: white;
}

.rankingsTable .rank{
    text-align: center;
}

.rankings-mobile {
    height: auto;
    width: auto;
    margin: 10px auto;
}

.rankings {
    height: auto;
    width: auto;
}

.rankings-mobile td {
    background: white;
    border-style: solid;
    border: 1px solid black;
    padding: 5px 5px 5px 5px;
    white-space: nowrap;
    font-size: 2vw;
}

.rankings td {
    background: white;
    border-style: solid;
    border: 1.5px solid black;
    padding: 10px 10px 10px 10px;
    white-space: nowrap;
}

  @-webkit-keyframes rankingsFade {
    0% { 
        opacity: 0;
        width: 20vw;
    }
    100% { 
        opacity: 1;
        width: 40vw;
    }
  }
@-moz-keyframes rankingsFade {
    0% { 
        opacity: 0;
        width: 20vw;
    }
    100% { 
        opacity: 1;
        width: 40vw;
    }
  }
@-o-keyframes rankingsFade {
    0% { 
        opacity: 0;
        width: 20vw;
    }
    100% { 
        opacity: 1;
        width: 40vw;
    }
  }
@keyframes rankingsFade {
    0% { 
        opacity: 0;
        width: 20vw;
    }
    100% { 
        opacity: 1;
        width: 40vw;
    }
  }