#loading {
    text-align: center;
    padding-top: 5vw;
}

#logo {
    background: white;
    width: 3em;
}

#win {
    width: 3em;
    text-align: center;
}

#thumb img {
    height: auto;
    width: auto;
    margin:0 auto;
}

#date {
    font-size: small;
    font-weight: bold;
}

#scheduleVenue {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(64, 109, 255);
    font-size: x-small;
    font-weight: bold;
    margin:0;
}

.flexcontainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.grid-item {
    font-size: 30px;
    text-align: center;
}

.scheduleTable {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: bold;
    border: solid 1.5px white;
    border-collapse: collapse;
    width: 75vw;
    background-color: #f2f2f2;
    white-space: nowrap;
    -webkit-animation: scheduleResizeFade 0.5s ease-in-out; /* Safari 4+ */
    -moz-animation:    scheduleResizeFade 0.5s ease-in-out; /* Fx 5+ */
    -o-animation:      scheduleResizeFade 0.5s ease-in-out; /* Opera 12+ */
    animation:         scheduleResizeFade 0.5s ease-in-out; /* IE 10+, Fx 29+ */
}

.scheduleTable td {
    padding: 8px;
    border: 1px solid #ddd;
}

.scheduleTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;    
    color: white;
}

.scheduleTable .rank{
    text-align: center;
}

.schedule {
    height: auto;
    width: auto;
    margin: 10px auto;
}

.schedule td {
    background: white;
    border-style: solid;
    border: 1.5px solid black;
    padding: 10px 10px 10px 10px;
}

.schedule-mobile td {
    background: white;
    border-style: solid;
    border: 1px solid black;
    padding: 5px 5px 5px 5px;
}

.schedule-mobile {
    height: auto;
    width: auto;
    margin: auto;
}

.scheduleTable-mobile {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: bold;
    border: solid 1.5px white;
    border-collapse: collapse;
    width: 99%;
    background-color: #f2f2f2;
    white-space: nowrap;
    -webkit-animation: scheduleFade 1s ease-in-out; /* Safari 4+ */
    -moz-animation:    scheduleFade 1s ease-in-out; /* Fx 5+ */
    -o-animation:      scheduleFade 1s ease-in-out; /* Opera 12+ */
    animation:         scheduleFade 1s ease-in-out; /* IE 10+, Fx 29+ */
}

.scheduleTable-mobile td {
    padding: 5px;
    border: 1px solid #ddd;
}

.scheduleTable-mobile th {
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;    
    color: white;
}

.scheduleTable-mobile .rank{
    text-align: center;
}

#logo-schedule {
    width: 3em;
}

#scores-mobile {
    background: lightgray;
    width: 3em;
    padding: 5px 5px 5px 5px;
    text-align: center;
    font-weight: bold;
}

@-o-keyframes scheduleFade {
    0% { 
        opacity: 0;
        width: 0%;
    }
    100% { 
        opacity: 1;
        width: 100%;
    }
  }
@keyframes scheduleFade {
    0% { 
        opacity: 0;
        width: 0%;
    }
    100% { 
        opacity: 1;
        width: 100%;
    }
  }

@-webkit-keyframes scheduleFade {
    0% { 
        opacity: 0;
        width: 0%;
    }
    100% { 
        opacity: 1;
        width: 100%;
    }
  }
@-moz-keyframes scheduleFade {
    0% { 
        opacity: 0;
        width: 0%;
    }
    100% { 
        opacity: 1;
        width: 100%;
    }
  }

@-webkit-keyframes scheduleResizeFade {
    0% { 
        opacity: 0;
        width: 60vw;
    }
    100% { 
        opacity: 1;
        width: 75vw;
    }
  }
@-moz-keyframes scheduleResizeFade {
    0% { 
        opacity: 0;
        width: 60vw;
    }
    100% { 
        opacity: 1;
        width: 75vw;
    }
  }

@-o-keyframes scheduleResizeFade {
    0% { 
        opacity: 0;
        width: 60vw;
    }
    100% { 
        opacity: 1;
        width: 75vw;
    }
  }
@keyframes scheduleResizeFade {
    0% { 
        opacity: 0;
        width: 60vw;
    }
    100% { 
        opacity: 1;
        width: 75vw;
    }
  }