h1 {
    color: white;
}

.scoreboard {
    height: auto;
    width: auto;
    margin: 70px auto;
  }

.scoreboard td {
    background: white;
    border-style: solid;
    border-color: gray;
    padding: 10px 10px 10px 10px;
    white-space: nowrap;
    font-size: initial;
}

#scoreboard-scores {
    background: lightgray;
    width: 3em;
    padding: 15px 15px 15px 15px;
    text-align: center;
    font-weight: bold;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #5cb85c;
    padding-bottom: 2em;
    padding-top: 1em;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: large;
    border-top: solid 1px darkgray;
}

.footer :hover {
    background-color: #225722;
}

#winner {
    background: darkgray;
    color: white;
    width: 3em;
    padding: 15px 15px 15px 15px;
    text-align: center;
    font-weight: bold;
}

#scoreboard-teams {
    background: white;
    width: 15em;
    padding: 5px 5px 5px 5px ;
}

#scoreboard-logo {
    background: white;
    width: 1em;
    text-align: center;
}

@media (max-width: 768) {
    #matchup {
        margin: 5%;
        width: 90%;
    }

    #scoreboard-teams {
        background: white;
        width: 15em;
        padding: 5px 5px 5px 5px ;
    }
    
    #scoreboard-logo {
        background: white;
        width: 1em;
        text-align: center;
    }

    #card-table{
        width: 90%;
    }
}

#record {
    font-size: small;
    color:gray;
}

#separator {
    width: 3em;
}

#teamthumb {
    width: 6em;
    height: 6em;
}

#thumb {
    width:2em; 
    height:2em;
}

#thumb img {
  height: auto;
  width: auto;
  margin:0 auto;
}

#status{
    font-size: small;
}

#team-sport {
    text-align: center;
    font-weight: bold;
}

#venue {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(64, 109, 255);
    font-size: x-small;
    font-weight: bolder;
    margin:0;
    padding-left: .2em;
}

#tableContainer{
    padding-left: 0;
    padding-right: 0;
}

.container {
    margin-left: auto;
    margin-right: auto;
}

.flexcontainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    -webkit-animation: scoreboardFade 0.5s; /* Safari 4+ */
    -moz-animation:    scoreboardFade 0.5s; /* Fx 5+ */
    -o-animation:      scoreboardFade 0.5s; /* Opera 12+ */
    animation:         scoreboardFade 0.5s; /* IE 10+, Fx 29+ */
 }

 .flexcontainer-mobile {
    display: flex;
    flex-direction: row;
    flex-grow: inherit;
    justify-content: space-evenly;
    -webkit-animation: scoreboardFade 0.5s; /* Safari 4+ */
    -moz-animation:    scoreboardFade 0.5s; /* Fx 5+ */
    -o-animation:      scoreboardFade 0.5s; /* Opera 12+ */
    animation:         scoreboardFade 0.5s; /* IE 10+, Fx 29+ */
 }

 .desktop-live-btn {
     top: 0;
     right: 0;
     margin-top: 0.75vw;
     margin-right: 0.75vw;
     position: absolute;
     font-size: 1.1vw;
 }

.card-table-schedule{
    margin: 20px;
}

.card-table-team{
    margin-right: 20px;
    margin-left: 20px;
    width: 30vw;
    height: 20vh;
}

@-webkit-keyframes scoreboardFade {
    0% { 
        opacity: 0;
        width: 20vw;
    }
    100% { 
        opacity: 1;
        width: 35vw;
    }
  }
@-moz-keyframes scoreboardFade {
    0% { 
        opacity: 0;
    }
    100% { 
        opacity: 1;
    }
  }
@-o-keyframes scoreboardFade {
    0% { 
        opacity: 0;
    }
    100% { 
        opacity: 1;
    }
  }
@keyframes scoreboardFade {
    0% { 
        opacity: 0;
    }
    100% { 
        opacity: 1;
    }
  }

  @keyframes fadeMe {
    0%, 49% {
      background-color: #FFFF99;
    }
    50%, 100% {
      background-color: lightgray;
    }
  }
