.scoreboard {
    background: white;
    height: auto;
    width: auto;
    margin: 70px auto;
  }

.scoreboard td {
    background: white;
    border-style: solid;
    border-color: gray;
    padding: 10px 10px 10px 10px;
}

#scores {
    background: lightgray;
    padding: 10px 10px 10px 10px;
}

#teams {
    background: white;
    padding: 10px 10px 10px 10px;
}

#thumb {
    width:40px; 
    height:40px;
  }
#thumb img {
  height:100%; 
  width:100%; 
  margin:0 auto;
}