h1 {
    color: white;
}

.scores {
    background: lightgray;
    width: 3em;
    padding: 15px 15px 15px 15px;
    text-align: center;
    font-weight: bold;
}

#scores-mobile {
    background: lightgray;
    width: 2em;
    padding: 5px 5px 5px 5px;
    text-align: center;
    font-weight: bold;
}

#standings-logo {
    background: white;
    text-align: left;
}

#thumb {
    width:2em; 
    height:2em;
}

#thumb img {
  height: auto;
  width: auto;
  margin:0 auto;
}

table {
    width: 100%;
}

#teamBox {
    font-size: small;
}

#team-sport {
    text-align: center;
    font-weight: bold;
}

@media (max-width: 768px) {
    #card-table{
        width: 99%;
    }
}

#standings-card-table {
    margin: 15px;
}

@-webkit-keyframes scoreboardFade {
    0% { 
        opacity: 0;
    }
    100% { 
        opacity: 1;
    }
  }
@-moz-keyframes scoreboardFade {
    0% { 
        opacity: 0;
    }
    100% { 
        opacity: 1;
    }
  }
@-o-keyframes scoreboardFade {
    0% { 
        opacity: 0;
    }
    100% { 
        opacity: 1;
    }
  }
@keyframes scoreboardFade {
    0% { 
        opacity: 0;
    }
    100% { 
        opacity: 1;
    }
  }
