h1 {
    color: white;
}

.teamboard {
    height: auto;
    width: auto;
    margin: 70px auto;
  }

.teamboard td {
    background: white;
    border-style: solid;
    border-color: gray;
    padding: 10px 10px 10px 10px;
    font-size: large;
}

#matchup-scores {
    margin: auto;
}

#teams-logo {
    text-align: center;
    width: 1em;
}

#scores {
    background: lightgray;
    width: 3em;
    padding: 15px 15px 15px 15px;
    text-align: center;
    font-weight: bold;    
}

#team-status {
    height: 90px;
    background: lightgray;
    width: 3em;
    padding: 15px 15px 15px 15px;
    text-align: center;
    font-weight: bold; 
}

#winner {
    background: darkgray;
    color: white;
    width: 3em;
    padding: 15px 15px 15px 15px;
    text-align: center;
    font-weight: bold;
}

#teams {
    background: white;
    width: 30vw;
    font-size: medium;
    padding: 5px 5px 5px 5px ;
}

#record {
    font-size: small;
    color:gray;
}

#separator {
    width: 3em;
}

#teamthumb {
    width: 6em;
    height: 6em;
    margin: auto;
}

#thumb {
    width:2em; 
    height:2em;
}

#thumb img {
  height: auto;
  width: auto;
  margin:0 auto;
}

#status{
    font-size: small;
}

#team-sport {
    text-align: center;
    font-weight: bold;
}

#venue {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(64, 109, 255);
    font-size: x-small;
    font-weight: bolder;
    margin:0
}

#tableContainer{
    padding-left: 0;
    padding-right: 0;
}

.card-table{
    justify-content: space-evenly;
    margin-right: 5px;
    margin-left: 5px;
    width: 30vw;
}

.card-table-schedule{
    margin: 20px;
}

#card-table-team{
    margin-right: 20px;
    margin-left: 20px;
    width: 30vw;
    height: 20vh;
    -webkit-animation: cardFade 1s; /* Safari 4+ */
    -moz-animation:    cardFade 1s; /* Fx 5+ */
    -o-animation:      cardFade 1s; /* Opera 12+ */
    animation:         cardFade 1s; /* IE 10+, Fx 29+ */
}

.mobile-card-table-team{
    margin: 5%;
    width: 90%;
    -webkit-animation: cardFade 1.5s; /* Safari 4+ */
    -moz-animation:    cardFade 1.5s; /* Fx 5+ */
    -o-animation:      cardFade 1.5s; /* Opera 12+ */
    animation:         cardFade 1.5s; /* IE 10+, Fx 29+ */
}


@-webkit-keyframes cardFade {
    0% { 
        opacity: 0;
    }
    100% { 
        opacity: 1;
    }
  }
@-moz-keyframes cardFade {
    0% { 
        opacity: 0;
    }
    100% { 
        opacity: 1;
    }
  }
@-o-keyframes cardFade {
    0% { 
        opacity: 0;
    }
    100% { 
        opacity: 1;
    }
  }
@keyframes cardFade {
    0% { 
        opacity: 0;
    }
    100% { 
        opacity: 1;
    }
  }